•conteudo-principal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;
} 
•titulo-principal {
text-align: left;
width:
100% :
font-size: 32px; }
    
•botao { font-family: «Crakra Petch», sans-serif; background-color: var(--botão-inativo);
color: var(--branco);
display: flex;
justify-content: center;
Pont Size: 18px;
align-items: center;
width: 100%;
}
border-bottom: 4px solid var(--botao-ativo); 
border-left: 2px solid var(--botao-ativo);
border-right: 2px solid var(--botao-ativo); 
border-top: none;

.botoes display: block;
emedia screen and (min-width: 768px) (
Do display: flex;
}

}
.botao:first-child {
border-radius: 40px 0 0 0; 
}
•botao:last-child {
border-radius: • 40px 0 0;
}
 
}
•ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var(--verde);  
}
e5521fanty=Chakratech:wite500,7066605p1ay=swap')
body,{
background-color: var(--cor-de-fundo) ; font-family: "Chakra Petch', sans-serifs }
.abas-textos{
background-color: var(--texto-fundo);
} 
‹div class=»conteudo»>
‹div class=»botoes»>
(l"lass=rabas-textos
/divs
‹/div>
‹/div›
•abas-textos{
background-color: var(--texto-fundo);
padding: 40px;
border-radius: 0 0 40px 40px;
} 
.botao.ativo{
background-color: var(--botao-ativo);
border-bottom: 4px solid var (--verde); 
}

